.menu {
    position: absolute;
    width: 85%;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: #ffffff32;
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 10px 10px rgba(71, 71, 71, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
}

.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0 20px;
    list-style-type: none;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
    padding: 5px;
    width: 40px;
}

.menu-item span {
    position: absolute;
    opacity: 0;
    color: white;
    transform: scale(.5) translateY(0%);
    padding: 3px 2px;
    transition: .2s;
    border-radius: 5px;
}

.menu-item span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: flex;
    left: 50%;
    transform: translate(-50%, 14.5%);
}

.menu-item img {
    width: 40px;
    height: 40px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #fefcfc91);
    transition: .3s ease-in-out;
    filter: invert(1);
}

.menu-item a {
    text-decoration: none;
    list-style: none;
    color: white;
}


.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    cursor: pointer;
    margin: 0 15px;
}

.menu-item:hover img {
    transform: scale(1.5) translateY(-50%);
}

.menu-item:hover span {
    transform: scale(1.1) translateY(-266%) translateX(-18%);
    opacity: 1;
}

@media screen and (min-width: 550px) {
    .menu {
        width: 70%;
        bottom: 20px;
    }
}

@media screen and (min-width: 900px) {
    .menu {
        width: 40%;
    }
}